h1{
    position: relative;
    text-align: center;
}
p{
    position: relative;
    text-align: center;
}

span{
    position: relative;
    text-align: center;
}

label{
    position: relative;
    text-align: center;
}

button{
    position: relative;
    text-align: center;
}