body{
    background-image: url("../img/sky_00165.jpeg");
}

h1{
    position: relative;
    text-align: center;
    padding: 250px;
}
p{
    position: relative;
    text-align: center;
    height: 100px;
}

span{
    position: relative;
    text-align: center;
}
