h1{
    position: relative;
    text-align: center;
}
p{
    position: relative;
    text-align: center;
}

span{
    position: relative;
    text-align: center;
}

.city{
    position: relative;
    text-align: center;
}

.print{
    position: relative;
    text-align: center;
}