body {
    background-color: rgb(255, 255, 220);
}

.setumei {
    background: linear-gradient(90deg, rgb(206, 255, 206), rgb(255, 255, 141));
    border: solid green;
}

.one{
    text-shadow: 0.02em  -0.02em 0.2em red;
}
.two{
    text-shadow: 0.02em  -0.02em 0.2em skyblue;
}
.three{
    text-shadow: 0.02em  -0.02em 0.2em yellow;
}
.four{
    text-shadow: 0.02em  -0.02em 0.2em green;
}
.five{
    text-shadow: 0.02em  -0.02em 0.2em rgb(137, 76, 137);
}

a:hover{
    color: purple;
}